In [5]:
import joblib

df = joblib.load('./data/corpus_raw/bbc/bbc_processed.pkl')

In [6]:
df.head()

,news,type,text_coref,text_clean,entidades_raw,entidades_dbpedia
0,China had role in Yukos split-up\n \n China le...,business,China had role in Yukos split-up\n \n China le...,china had role in yukos splitup\n \n china len...,{'yukos': {'URI': 'http://dbpedia.org/resource...,{'yukos': {'URI': 'http://dbpedia.org/resource...
1,Oil rebounds from weather effect\n \n Oil pric...,business,Oil rebounds from weather effect\n \n Oil pric...,oil rebounds from weather effect\n \n oil pric...,{'asian': {'URI': 'http://dbpedia.org/resource...,{'asian': {'URI': 'http://dbpedia.org/resource...
2,Indonesia 'declines debt freeze'\n \n Indonesi...,business,Indonesia 'declines debt freeze'\n \n Indonesi...,indonesia declines debt freeze\n \n indonesia ...,{'aceh province': {'URI': 'http://dbpedia.org/...,{'aceh province': {'URI': 'http://dbpedia.org/...
3,$1m payoff for former Shell boss\n \n Shell is...,business,$1m payoff for former Shell boss\n \n Shell is...,$1m payoff for former shell boss\n \n shell is...,{},{}
4,US bank in $515m SEC settlement\n \n Five Bank...,business,US bank in $515m SEC settlement\n \n Five Bank...,us bank in $515m sec settlement\n \n five bank...,{'mutual fund': {'URI': 'http://dbpedia.org/re...,{'mutual fund': {'URI': 'http://dbpedia.org/re...

In [7]:
df.iloc[10,4]

{'tsunami': {'URI': 'http://dbpedia.org/resource/2004_Indian_Ocean_earthquake_and_tsunami',
  'types': 'Wikidata:Q1656682,DUL:Event,Schema:Event,DBpedia:NaturalEvent,DBpedia:Event,DBpedia:Earthquake',
  'types_normalizados': 'wikidata q1656682,dul event schema event dbpedia naturalevent dbpedia event dbpedia earthquake'},
 'service sector': {'URI': 'http://dbpedia.org/resource/Tertiary_sector_of_the_economy',
  'types': [],
  'types_normalizados': []},
 'city': {'URI': 'http://dbpedia.org/resource/City',
  'types': [],
  'types_normalizados': []},
 'gross domestic product': {'URI': 'http://dbpedia.org/resource/Gross_domestic_product',
  'types': [],
  'types_normalizados': []},
 'gdp': {'URI': 'http://dbpedia.org/resource/Gross_domestic_product',
  'types': [],
  'types_normalizados': []},
 'drag': {'URI': 'http://dbpedia.org/resource/Drag_queen',
  'types': [],
  'types_normalizados': []},
 'economist': {'URI': 'http://dbpedia.org/resource/Economy',
  'types': [],
  'types_normalizados': []},
 'jp morgan chase': {'URI': 'http://dbpedia.org/resource/JPMorgan_Chase',
  'types': 'Wikidata:Q4830453,Wikidata:Q43229,Wikidata:Q24229398,DUL:SocialPerson,DUL:Agent,Schema:Organization,Schema:BankOrCreditUnion,DBpedia:Organisation,DBpedia:Company,DBpedia:Agent,DBpedia:Bank',
  'types_normalizados': 'wikidata q4830453,wikidata q43229,wikidata q24229398,dul socialperson dul agent schema organization schema bankorcreditunion dbpedia organisation dbpedia company dbpedia agent dbpedia bank'},
 'summer': {'URI': 'http://dbpedia.org/resource/Summer',
  'types': [],
  'types_normalizados': []},
 'sars': {'URI': 'http://dbpedia.org/resource/SARS',
  'types': 'Wikidata:Q12136,DBpedia:Disease',
  'types_normalizados': 'wikidata q12136,dbpedia disease'},
 'virus': {'URI': 'http://dbpedia.org/resource/COVID-19',
  'types': 'Wikidata:Q12136,DBpedia:Disease',
  'types_normalizados': 'wikidata q12136,dbpedia disease'}}

In [18]:
df.head()

,news,type,text_coref,text_clean,entidades_raw,entidades_dbpedia
0,China had role in Yukos split-up\n \n China le...,business,China had role in Yukos split-up\n \n China le...,china had role in yukos splitup\n \n china len...,{'yukos': {'URI': 'http://dbpedia.org/resource...,{'yukos': {'URI': 'http://dbpedia.org/resource...
1,Oil rebounds from weather effect\n \n Oil pric...,business,Oil rebounds from weather effect\n \n Oil pric...,oil rebounds from weather effect\n \n oil pric...,{'asian': {'URI': 'http://dbpedia.org/resource...,{'asian': {'URI': 'http://dbpedia.org/resource...
2,Indonesia 'declines debt freeze'\n \n Indonesi...,business,Indonesia 'declines debt freeze'\n \n Indonesi...,indonesia declines debt freeze\n \n indonesia ...,{'aceh province': {'URI': 'http://dbpedia.org/...,{'aceh province': {'URI': 'http://dbpedia.org/...
3,$1m payoff for former Shell boss\n \n Shell is...,business,$1m payoff for former Shell boss\n \n Shell is...,$1m payoff for former shell boss\n \n shell is...,{},{}
4,US bank in $515m SEC settlement\n \n Five Bank...,business,US bank in $515m SEC settlement\n \n Five Bank...,us bank in $515m sec settlement\n \n five bank...,{'mutual fund': {'URI': 'http://dbpedia.org/re...,{'mutual fund': {'URI': 'http://dbpedia.org/re...

In [8]:
df.loc[df.type == 'tech',:]

,news,type,text_coref,text_clean,entidades_raw,entidades_dbpedia
1824,Rich pickings for hi-tech thieves\n \n Viruses...,tech,Rich pickings for hi-tech thieves\n \n Viruses...,rich pickings for hitech thieves\n \n viruses ...,{'malware': {'URI': 'http://dbpedia.org/resour...,{'malware': {'URI': 'http://dbpedia.org/resour...
1825,Kenyan school turns to handhelds\n \n At the M...,tech,Kenyan school turns to handhelds\n \n At the M...,kenyan school turns to handhelds\n \n at the m...,{'handheld computer': {'URI': 'http://dbpedia....,{'handheld computer': {'URI': 'http://dbpedia....
1826,Concerns over Windows ATMs\n \n Cash machine n...,tech,Concerns over Windows ATMs\n \n Cash machine n...,concerns over windows atms\n \n cash machine n...,{'cash machine': {'URI': 'http://dbpedia.org/r...,{'cash machine': {'URI': 'http://dbpedia.org/r...
1827,Microsoft gets the blogging bug\n \n Software ...,tech,Microsoft gets the blogging bug\n \n Software ...,microsoft gets the blogging bug\n \n software ...,{},{}
1828,Finding new homes for old phones\n \n Re-using...,tech,Finding new homes for old phones\n \n Re-using...,finding new homes for old phones\n \n reusing ...,{'forum': {'URI': 'http://dbpedia.org/resource...,{'forum': {'URI': 'http://dbpedia.org/resource...
...,...,...,...,...,...,...
2220,Microsoft launches its own search\n \n Microso...,tech,Microsoft launches its own search\n \n Microso...,microsoft launches its own search\n \n microso...,{'search engine': {'URI': 'http://dbpedia.org/...,{'search engine': {'URI': 'http://dbpedia.org/...
2221,Warnings about junk mail deluge\n \n The amoun...,tech,Warnings about junk mail deluge\n \n The amoun...,warnings about junk mail deluge\n \n the amoun...,{'virus': {'URI': 'http://dbpedia.org/resource...,{'virus': {'URI': 'http://dbpedia.org/resource...
2222,Microsoft gets the blogging bug\n \n Software ...,tech,Microsoft gets the blogging bug\n \n Software ...,microsoft gets the blogging bug\n \n software ...,{},{}
2223,Gamers snap up new Sony PSP\n \n Gamers have b...,tech,Gamers snap up new Sony PSP\n \n Gamers have b...,gamers snap up new sony psp\n \n gamers have b...,{'sony': {'URI': 'http://dbpedia.org/resource/...,{'sony': {'URI': 'http://dbpedia.org/resource/...
2224,Apple laptop is 'greatest gadget'\n \n The App...,tech,Apple laptop is 'greatest gadget'\n \n The App...,apple laptop is greatest gadget\n \n the apple...,{'apple': {'URI': 'http://dbpedia.org/resource...,{'apple': {'URI': 'http://dbpedia.org/resource...

In [19]:
df.iloc[10,4]

{'tsunami': {'URI': 'http://dbpedia.org/resource/2004_Indian_Ocean_earthquake_and_tsunami',
  'types': 'Wikidata:Q1656682,DUL:Event,Schema:Event,DBpedia:NaturalEvent,DBpedia:Event,DBpedia:Earthquake',
  'types_normalizados': 'wikidata q1656682,dul event schema event dbpedia naturalevent dbpedia event dbpedia earthquake'},
 'service sector': {'URI': 'http://dbpedia.org/resource/Tertiary_sector_of_the_economy',
  'types': [],
  'types_normalizados': []},
 'city': {'URI': 'http://dbpedia.org/resource/City',
  'types': [],
  'types_normalizados': []},
 'gross domestic product': {'URI': 'http://dbpedia.org/resource/Gross_domestic_product',
  'types': [],
  'types_normalizados': []},
 'gdp': {'URI': 'http://dbpedia.org/resource/Gross_domestic_product',
  'types': [],
  'types_normalizados': []},
 'drag': {'URI': 'http://dbpedia.org/resource/Drag_queen',
  'types': [],
  'types_normalizados': []},
 'economist': {'URI': 'http://dbpedia.org/resource/Economy',
  'types': [],
  'types_normalizados': []},
 'jp morgan chase': {'URI': 'http://dbpedia.org/resource/JPMorgan_Chase',
  'types': 'Wikidata:Q4830453,Wikidata:Q43229,Wikidata:Q24229398,DUL:SocialPerson,DUL:Agent,Schema:Organization,Schema:BankOrCreditUnion,DBpedia:Organisation,DBpedia:Company,DBpedia:Agent,DBpedia:Bank',
  'types_normalizados': 'wikidata q4830453,wikidata q43229,wikidata q24229398,dul socialperson dul agent schema organization schema bankorcreditunion dbpedia organisation dbpedia company dbpedia agent dbpedia bank'},
 'summer': {'URI': 'http://dbpedia.org/resource/Summer',
  'types': [],
  'types_normalizados': []},
 'sars': {'URI': 'http://dbpedia.org/resource/SARS',
  'types': 'Wikidata:Q12136,DBpedia:Disease',
  'types_normalizados': 'wikidata q12136,dbpedia disease'},
 'virus': {'URI': 'http://dbpedia.org/resource/COVID-19',
  'types': 'Wikidata:Q12136,DBpedia:Disease',
  'types_normalizados': 'wikidata q12136,dbpedia disease'}}

In [2]:
import joblib

df2 = joblib.load('./data/corpus_raw/bbc/bbc_processed_final_semantic_2.pkl')

In [4]:
df2.head()

,category,text,coref_text,cleaned,entidades,new_target,entidades_dbpedia,entidades_dbpedia_simplificadas
0,tech,tv future in the hands of viewers with home th...,tv future in the hands of viewers with home th...,tv future hand viewer home theatre system plas...,"{Adam Hume, Europe, annual, Mr Hanlon, BBC, Ti...",3,[{'URI': 'http://dbpedia.org/resource/Televisi...,{'TV': [{'URI': 'http://dbpedia.org/resource/T...
1,business,worldcom boss left books alone former worldc...,worldcom boss left books alone former worldc...,worldcom boss leave book worldcom boss bernie ...,"{160bn, PE, Scott Sullivan, Monday, 2002, Reid...",1,[{'URI': 'http://dbpedia.org/resource/MCI_Inc....,{'Worldcom': [{'URI': 'http://dbpedia.org/reso...
2,sport,tigers wary of farrell gamble leicester say ...,tigers wary of farrell gamble leicester say ...,tiger wary farrell gamble leicester tiger wary...,"{BBC Radio Leicester, Tigers, John Wells, Sara...",5,[{'URI': 'http://dbpedia.org/resource/Colin_Fa...,{'Farrell': [{'URI': 'http://dbpedia.org/resou...
3,sport,yeading face newcastle in fa cup premiership s...,yeading face newcastle in fa cup premiership s...,yeade face newcastle fa cup premiership newcas...,"{West Brom, Chelsea, Newcastle United, Sheffie...",2,[{'URI': 'http://dbpedia.org/resource/Yeading_...,{'Yeading': [{'URI': 'http://dbpedia.org/resou...
4,entertainment,ocean s twelve raids box office ocean s twelve...,ocean s twelve raids box office ocean s twelve...,ocean s raid box office ocean s crime caper se...,"{Europe, Elliott Gould, Tom Hanks, Clooney, fi...",0,[{'URI': 'http://dbpedia.org/resource/Crime_fi...,{'crime': [{'URI': 'http://dbpedia.org/resourc...

In [ ]:
type(df2)

In [ ]:
pd.

In [15]:
type(df2)

numpy.ndarray

In [4]:
df2.head()

,category,text,coref_text,cleaned,entidades,new_target
0,tech,tv future in the hands of viewers with home th...,tv future in the hands of viewers with home th...,tv future hand viewer home theatre system plas...,"{up to 90 hours, one, nine months to a years ...",3
1,business,worldcom boss left books alone former worldc...,worldcom boss left books alone former worldc...,worldcom boss leave book worldcom boss bernie ...,"{160bn, last two months, about $180bn, 20 000,...",1
2,sport,tigers wary of farrell gamble leicester say ...,tigers wary of farrell gamble leicester say ...,tiger wary farrell gamble leicester tiger wary...,"{another three months, five weeks ago}",5
3,sport,yeading face newcastle in fa cup premiership s...,yeading face newcastle in fa cup premiership s...,yeade face newcastle fa cup premiership newcas...,"{saturday, two, earlier this season, sunday, t...",2
4,entertainment,ocean s twelve raids box office ocean s twelve...,ocean s twelve raids box office ocean s twelve...,ocean s raid box office ocean s crime caper se...,"{$110m, last week, december, 21, $40.8m, fourt...",0

In [8]:
import joblib
joblib.dump(df2, './data/corpus_raw/bbc/bbc_processed_final_semantic_2.pkl')

['./data/corpus_raw/bbc/bbc_processed_final_semantic_2.pkl']

In [9]:
df.shape

(2225, 6)

## topic

In [13]:
topic = pd.read_csv('./data/lda_eval/bbc/lda_coherence_grid.csv')

In [20]:
topic.loc[ topic.num_topics==7,:].coherence.max()

0.5182005310100262

In [15]:
topic.loc[topic.coherence>0.5,:]

      num_topics               alpha                 eta  coherence
100            3                0.01                0.61   0.523117
101            3                0.01                0.76   0.510278
102            3                0.01  0.9099999999999999   0.507863
108            3                0.11                0.61   0.523117
109            3                0.11                0.76   0.504485
...          ...                 ...                 ...        ...
1198          14                0.51  0.9099999999999999   0.520774
1206          14  0.6100000000000001  0.9099999999999999   0.511866
1214          14  0.7100000000000001  0.9099999999999999   0.503574
1254          15                0.01  0.9099999999999999   0.503038
1262          15                0.11  0.9099999999999999   0.506694

[194 rows x 4 columns]

In [ ]:
df.loc[((df.num_topics==7) & (df.coherence>=0.55)),:]

## generacion ternas pykeen

In [11]:
import pandas as pd
TRIPLES_PATH = "data/triples_ft/processed/dataset_final_triplet_bbc_new"
KG_PATH = "data/triples_ft/processed/triples_bbc.tsv"
EMB_DIR = "data/triples_emb/"
model = "TransE"
import joblib
df = joblib.load(TRIPLES_PATH)

In [12]:
df

,subject,relation,object,new_topic
0,tv future,will,in hands of viewers with home theatre systems ...,3
1,tv future,will,in hands will radically different in five year...,3
2,way people,watch,tv,3
3,tv future,will,in hands of viewers will different in five yea...,3
4,tv future,will,in hands of viewers with home theatre systems ...,3
...,...,...,...,...
159557,boss graeme souness,paid,tribute,2
159558,boss graeme souness,paid,tribute,2
159559,tribute,laurent,united,2
159560,please,said,graeme,2
159561,please,said,souness,2

In [14]:
joblib.dump(df,'data/triples_ft/processed/ddataset_final_triplet_bbc_pykeen')

['data/triples_ft/processed/ddataset_final_triplet_bbc_pykeen']

In [2]:
dic = {'0': {'terms': ['summer', 'comedian', 'magazine', 'bluetooth', 'upland', 'grocery', 'marvel', 'snub', 'heart', 'plasma', 'drama', 'telephone', 'city', 'draft', 'wire', 'worm', 'bass', 'boss', 'blind', 'deaf', 'piracy', 'diary', 'billionaire', 'spyware', 'crime', 'pome', 'video', 'laptop', 'jukebox', 'leader', 'radio', 'theatre', 'wall', 'stereo', 'battery', 'telco', 'plateau', 'webcast', 'shell', 'camera', 'cabaret', 'broadcast', 'fraud', 'dialler', 'ball', 'trojan', 'hull', 'turbo', 'hope', 'phone', 'season', 'hacker', 'town', 'telephony', 'apple', 'copper', "'", 'breed', 'cinema', 'ringtone', 'firewall', 'manager', 'telecom', 'desensitize', 'news', 'gadget', 'court', 'walkman', 'municipality', 'utter', 'machine', 'virus', 'clamshell', 'episode', 'wood', 'wikicatcapacity - approachingcode', 'blog', 'rivalry', 'halo', 'firm', 'summit', 'electro - acoustic_transducer', 'melody', 'item', 'deceit', 'feel', 'taxon', 'forum', 'jungle', 'rock', 'microphone', 'rebuff', 'football', 'fanfare', 'terrorist', 'mp3', 'toolbar', 'senior', 'toroid', 'piano', 'good', 'telcos', 'metal', 'dean', 'beta'], 'silhouette': 0.17424753424344117}, '1': {'terms': ['multimedia', 'specie', 'protocol', 'weakness', 'supermarket', 'copyright', 'telecommunication', 'hardware', 'device', 'commerce', 'broadband', 'communication', 'invertebrate', 'configuration', 'artillery', 'instrumentality', 'programmer', 'sextant', 'sport', 'corporation', 'patent', 'digital', 'material', 'recorder', 'profession', 'transgression', 'innovation', 'smartphone', 'document', 'compression', 'format', 'person', 'thing', 'utility', 'mobile', 'evolution', 'disposable', 'interface', 'wireless', 'meeting', 'mixture', 'organism', 'electronic', 'handset', 'prospect', 'reproduce', 'batter', 'principle', 'publisher', 'cable', 'market', 'plan', 'abstraction', 'microorganism', 'sculpture', 'competition', 'animate', 'creation', 'physics', 'administrator', 'cognition', 'recreation', 'official', 'vulnerability', 'prescript', 'computer', 'modem', 'automobile', 'phonograph', 'journalism', 'quality', 'memory', 'transmission', 'system', 'terrestrial', 'software', 'follower', 'connection', 'hijacking', 'basic', 'atmosphere', 'conference', 'planet', 'camcorder', 'process'], 'silhouette': 0.33685860183700705}}
', '.join(dic.get('0').get('terms'))

"summer, comedian, magazine, bluetooth, upland, grocery, marvel, snub, heart, plasma, drama, telephone, city, draft, wire, worm, bass, boss, blind, deaf, piracy, diary, billionaire, spyware, crime, pome, video, laptop, jukebox, leader, radio, theatre, wall, stereo, battery, telco, plateau, webcast, shell, camera, cabaret, broadcast, fraud, dialler, ball, trojan, hull, turbo, hope, phone, season, hacker, town, telephony, apple, copper, ', breed, cinema, ringtone, firewall, manager, telecom, desensitize, news, gadget, court, walkman, municipality, utter, machine, virus, clamshell, episode, wood, wikicatcapacity - approachingcode, blog, rivalry, halo, firm, summit, electro - acoustic_transducer, melody, item, deceit, feel, taxon, forum, jungle, rock, microphone, rebuff, football, fanfare, terrorist, mp3, toolbar, senior, toroid, piano, good, telcos, metal, dean, beta"