In [1]:
import joblib

df = joblib.load('./data/corpus_raw/bbc/bbc_processed.pkl')

In [2]:
df.head()

,news,type,text_coref,text_clean,entidades_raw,entidades_dbpedia
0,China had role in Yukos split-up\n \n China le...,business,China had role in Yukos split-up\n \n China le...,china had role in yukos splitup\n \n china len...,{'yukos': {'URI': 'http://dbpedia.org/resource...,{'yukos': {'URI': 'http://dbpedia.org/resource...
1,Oil rebounds from weather effect\n \n Oil pric...,business,Oil rebounds from weather effect\n \n Oil pric...,oil rebounds from weather effect\n \n oil pric...,{'asian': {'URI': 'http://dbpedia.org/resource...,{'asian': {'URI': 'http://dbpedia.org/resource...
2,Indonesia 'declines debt freeze'\n \n Indonesi...,business,Indonesia 'declines debt freeze'\n \n Indonesi...,indonesia declines debt freeze\n \n indonesia ...,{'aceh province': {'URI': 'http://dbpedia.org/...,{'aceh province': {'URI': 'http://dbpedia.org/...
3,$1m payoff for former Shell boss\n \n Shell is...,business,$1m payoff for former Shell boss\n \n Shell is...,$1m payoff for former shell boss\n \n shell is...,{},{}
4,US bank in $515m SEC settlement\n \n Five Bank...,business,US bank in $515m SEC settlement\n \n Five Bank...,us bank in $515m sec settlement\n \n five bank...,{'mutual fund': {'URI': 'http://dbpedia.org/re...,{'mutual fund': {'URI': 'http://dbpedia.org/re...

In [4]:
df.iloc[10,4]

{'tsunami': {'URI': 'http://dbpedia.org/resource/2004_Indian_Ocean_earthquake_and_tsunami',
  'types': 'Wikidata:Q1656682,DUL:Event,Schema:Event,DBpedia:NaturalEvent,DBpedia:Event,DBpedia:Earthquake',
  'types_normalizados': 'wikidata q1656682,dul event schema event dbpedia naturalevent dbpedia event dbpedia earthquake'},
 'service sector': {'URI': 'http://dbpedia.org/resource/Tertiary_sector_of_the_economy',
  'types': [],
  'types_normalizados': []},
 'city': {'URI': 'http://dbpedia.org/resource/City',
  'types': [],
  'types_normalizados': []},
 'gross domestic product': {'URI': 'http://dbpedia.org/resource/Gross_domestic_product',
  'types': [],
  'types_normalizados': []},
 'gdp': {'URI': 'http://dbpedia.org/resource/Gross_domestic_product',
  'types': [],
  'types_normalizados': []},
 'drag': {'URI': 'http://dbpedia.org/resource/Drag_queen',
  'types': [],
  'types_normalizados': []},
 'economist': {'URI': 'http://dbpedia.org/resource/Economy',
  'types': [],
  'types_normalizados': []},
 'jp morgan chase': {'URI': 'http://dbpedia.org/resource/JPMorgan_Chase',
  'types': 'Wikidata:Q4830453,Wikidata:Q43229,Wikidata:Q24229398,DUL:SocialPerson,DUL:Agent,Schema:Organization,Schema:BankOrCreditUnion,DBpedia:Organisation,DBpedia:Company,DBpedia:Agent,DBpedia:Bank',
  'types_normalizados': 'wikidata q4830453,wikidata q43229,wikidata q24229398,dul socialperson dul agent schema organization schema bankorcreditunion dbpedia organisation dbpedia company dbpedia agent dbpedia bank'},
 'summer': {'URI': 'http://dbpedia.org/resource/Summer',
  'types': [],
  'types_normalizados': []},
 'sars': {'URI': 'http://dbpedia.org/resource/SARS',
  'types': 'Wikidata:Q12136,DBpedia:Disease',
  'types_normalizados': 'wikidata q12136,dbpedia disease'},
 'virus': {'URI': 'http://dbpedia.org/resource/COVID-19',
  'types': 'Wikidata:Q12136,DBpedia:Disease',
  'types_normalizados': 'wikidata q12136,dbpedia disease'}}

In [5]:
df.head()

,news,type,text_coref,text_clean,entidades_raw,entidades_dbpedia
0,China had role in Yukos split-up\n \n China le...,business,China had role in Yukos split-up\n \n China le...,china had role in yukos splitup\n \n china len...,{'yukos': {'URI': 'http://dbpedia.org/resource...,{'yukos': {'URI': 'http://dbpedia.org/resource...
1,Oil rebounds from weather effect\n \n Oil pric...,business,Oil rebounds from weather effect\n \n Oil pric...,oil rebounds from weather effect\n \n oil pric...,{'asian': {'URI': 'http://dbpedia.org/resource...,{'asian': {'URI': 'http://dbpedia.org/resource...
2,Indonesia 'declines debt freeze'\n \n Indonesi...,business,Indonesia 'declines debt freeze'\n \n Indonesi...,indonesia declines debt freeze\n \n indonesia ...,{'aceh province': {'URI': 'http://dbpedia.org/...,{'aceh province': {'URI': 'http://dbpedia.org/...
3,$1m payoff for former Shell boss\n \n Shell is...,business,$1m payoff for former Shell boss\n \n Shell is...,$1m payoff for former shell boss\n \n shell is...,{},{}
4,US bank in $515m SEC settlement\n \n Five Bank...,business,US bank in $515m SEC settlement\n \n Five Bank...,us bank in $515m sec settlement\n \n five bank...,{'mutual fund': {'URI': 'http://dbpedia.org/re...,{'mutual fund': {'URI': 'http://dbpedia.org/re...

In [5]:
df.iloc[10,4]

{'tsunami': {'URI': 'http://dbpedia.org/resource/2004_Indian_Ocean_earthquake_and_tsunami',
  'types': 'Wikidata:Q1656682,DUL:Event,Schema:Event,DBpedia:NaturalEvent,DBpedia:Event,DBpedia:Earthquake',
  'types_normalizados': 'wikidata q1656682,dul event schema event dbpedia naturalevent dbpedia event dbpedia earthquake'},
 'service sector': {'URI': 'http://dbpedia.org/resource/Tertiary_sector_of_the_economy',
  'types': [],
  'types_normalizados': []},
 'city': {'URI': 'http://dbpedia.org/resource/City',
  'types': [],
  'types_normalizados': []},
 'gross domestic product': {'URI': 'http://dbpedia.org/resource/Gross_domestic_product',
  'types': [],
  'types_normalizados': []},
 'gdp': {'URI': 'http://dbpedia.org/resource/Gross_domestic_product',
  'types': [],
  'types_normalizados': []},
 'drag': {'URI': 'http://dbpedia.org/resource/Drag_queen',
  'types': [],
  'types_normalizados': []},
 'economist': {'URI': 'http://dbpedia.org/resource/Economy',
  'types': [],
  'types_normalizados': []},
 'jp morgan chase': {'URI': 'http://dbpedia.org/resource/JPMorgan_Chase',
  'types': 'Wikidata:Q4830453,Wikidata:Q43229,Wikidata:Q24229398,DUL:SocialPerson,DUL:Agent,Schema:Organization,Schema:BankOrCreditUnion,DBpedia:Organisation,DBpedia:Company,DBpedia:Agent,DBpedia:Bank',
  'types_normalizados': 'wikidata q4830453,wikidata q43229,wikidata q24229398,dul socialperson dul agent schema organization schema bankorcreditunion dbpedia organisation dbpedia company dbpedia agent dbpedia bank'},
 'summer': {'URI': 'http://dbpedia.org/resource/Summer',
  'types': [],
  'types_normalizados': []},
 'sars': {'URI': 'http://dbpedia.org/resource/SARS',
  'types': 'Wikidata:Q12136,DBpedia:Disease',
  'types_normalizados': 'wikidata q12136,dbpedia disease'},
 'virus': {'URI': 'http://dbpedia.org/resource/COVID-19',
  'types': 'Wikidata:Q12136,DBpedia:Disease',
  'types_normalizados': 'wikidata q12136,dbpedia disease'}}

In [6]:
import joblib

df2 = joblib.load('./data/corpus_raw/bbc/bbc_processed_final_semantic_2')

In [7]:
df.head()

,news,type,text_coref,text_clean,entidades_raw,entidades_dbpedia
0,China had role in Yukos split-up\n \n China le...,business,China had role in Yukos split-up\n \n China le...,china had role in yukos splitup\n \n china len...,{'yukos': {'URI': 'http://dbpedia.org/resource...,{'yukos': {'URI': 'http://dbpedia.org/resource...
1,Oil rebounds from weather effect\n \n Oil pric...,business,Oil rebounds from weather effect\n \n Oil pric...,oil rebounds from weather effect\n \n oil pric...,{'asian': {'URI': 'http://dbpedia.org/resource...,{'asian': {'URI': 'http://dbpedia.org/resource...
2,Indonesia 'declines debt freeze'\n \n Indonesi...,business,Indonesia 'declines debt freeze'\n \n Indonesi...,indonesia declines debt freeze\n \n indonesia ...,{'aceh province': {'URI': 'http://dbpedia.org/...,{'aceh province': {'URI': 'http://dbpedia.org/...
3,$1m payoff for former Shell boss\n \n Shell is...,business,$1m payoff for former Shell boss\n \n Shell is...,$1m payoff for former shell boss\n \n shell is...,{},{}
4,US bank in $515m SEC settlement\n \n Five Bank...,business,US bank in $515m SEC settlement\n \n Five Bank...,us bank in $515m sec settlement\n \n five bank...,{'mutual fund': {'URI': 'http://dbpedia.org/re...,{'mutual fund': {'URI': 'http://dbpedia.org/re...

In [ ]:
type(df2)

In [ ]:
pd.

In [15]:
type(df2)

numpy.ndarray

In [4]:
df2.head()

,category,text,coref_text,cleaned,entidades,new_target
0,tech,tv future in the hands of viewers with home th...,tv future in the hands of viewers with home th...,tv future hand viewer home theatre system plas...,"{up to 90 hours, one, nine months to a years ...",3
1,business,worldcom boss left books alone former worldc...,worldcom boss left books alone former worldc...,worldcom boss leave book worldcom boss bernie ...,"{160bn, last two months, about $180bn, 20 000,...",1
2,sport,tigers wary of farrell gamble leicester say ...,tigers wary of farrell gamble leicester say ...,tiger wary farrell gamble leicester tiger wary...,"{another three months, five weeks ago}",5
3,sport,yeading face newcastle in fa cup premiership s...,yeading face newcastle in fa cup premiership s...,yeade face newcastle fa cup premiership newcas...,"{saturday, two, earlier this season, sunday, t...",2
4,entertainment,ocean s twelve raids box office ocean s twelve...,ocean s twelve raids box office ocean s twelve...,ocean s raid box office ocean s crime caper se...,"{$110m, last week, december, 21, $40.8m, fourt...",0

In [8]:
import joblib
joblib.dump(df2, './data/corpus_raw/bbc/bbc_processed_final_semantic_2.pkl')

['./data/corpus_raw/bbc/bbc_processed_final_semantic_2.pkl']

## topic

In [13]:
topic = pd.read_csv('./data/lda_eval/bbc/lda_coherence_grid.csv')

In [20]:
topic.loc[ topic.num_topics==7,:].coherence.max()

0.5182005310100262

In [15]:
topic.loc[topic.coherence>0.5,:]

      num_topics               alpha                 eta  coherence
100            3                0.01                0.61   0.523117
101            3                0.01                0.76   0.510278
102            3                0.01  0.9099999999999999   0.507863
108            3                0.11                0.61   0.523117
109            3                0.11                0.76   0.504485
...          ...                 ...                 ...        ...
1198          14                0.51  0.9099999999999999   0.520774
1206          14  0.6100000000000001  0.9099999999999999   0.511866
1214          14  0.7100000000000001  0.9099999999999999   0.503574
1254          15                0.01  0.9099999999999999   0.503038
1262          15                0.11  0.9099999999999999   0.506694

[194 rows x 4 columns]

In [ ]:
df.loc[((df.num_topics==7) & (df.coherence>=0.55)),:]