## Compraison of KGE models

### Pre KGE EMbeddings opt

In [2]:
import torch
model = torch.load('data/triples_emb/amazon/convkb_model.pkl')

UnpicklingError: Weights only load failed. This file can still be loaded, to do so you have two options, do those steps only if you trust the source of the checkpoint.
	(1) In PyTorch 2.6, we changed the default value of the `weights_only` argument in `torch.load` from `False` to `True`. Re-running `torch.load` with `weights_only` set to `False` will likely succeed, but it can result in arbitrary code execution. Do it only if you got the file from a trusted source.
	(2) Alternatively, to load with `weights_only=True` please check the recommended steps in the following error message.
	WeightsUnpickler error: Unsupported global: GLOBAL pykeen.models.unimodal.conv_kb.ConvKB was not an allowed global by default. Please use `torch.serialization.add_safe_globals([pykeen.models.unimodal.conv_kb.ConvKB])` or the `torch.serialization.safe_globals([pykeen.models.unimodal.conv_kb.ConvKB])` context manager to allowlist this global if you trust this class/function.

Check the documentation of torch.load to learn more about types accepted by default with weights_only https://pytorch.org/docs/stable/generated/torch.load.html.

## analisis de textos y formatos

In [35]:
## cargamos data procesado
import pandas as pd
df = joblib.load('./data/processed/amazon/amazon_processed_semantic.pkl')

In [8]:
df.head()

,text,target,text_coref,text_clean,entidades,entidades_raw,entidades_dbpedia_simplificadas,entidades_dbpedia
82359,I bought this to remove tartar off my cats'tee...,0,I bought this to remove tartar off my cats'tee...,i bought this to remove tartar off my catsteet...,"{until, one eighth teaspoon, grey kitty, brown...",{'dog': {'URI': 'http://dbpedia.org/resource/D...,{'dog': {'URI': 'http://dbpedia.org/resource/D...,{'dog': {'URI': 'http://dbpedia.org/resource/D...
51828,"We have two of these now, indoors only.They al...",0,"We have two of these now, indoors only.They al...",we have two of these now indoors onlythey allo...,{we've},{},{},{}
17743,"Easy to assemble, good size for my 1.5 inch Ro...",0,"Easy to assemble, good size for my 1.5 inch Ro...",easy to assemble good size for my 15 inch robo...,"{1.5 inch, crittertrail}",{'hamster': {'URI': 'http://dbpedia.org/resour...,{'hamster': {'URI': 'http://dbpedia.org/resour...,{'hamster': {'URI': 'http://dbpedia.org/resour...
112950,This does take off a ton of fur. My German Sh...,0,This does take off a ton of fur. My German Sh...,this does take off a ton of fur my german she...,"{a ton, my german shepherd}",{'shepherd': {'URI': 'http://dbpedia.org/resou...,{'shepherd': {'URI': 'http://dbpedia.org/resou...,{'shepherd': {'URI': 'http://dbpedia.org/resou...
143740,I'm so pleased with the Litter Genie. It does...,0,I'm so pleased with the Litter Genie. It does...,im so pleased with the litter genie it does e...,{3 or 4 weeks},{'genie': {'URI': 'http://dbpedia.org/resource...,{'genie': {'URI': 'http://dbpedia.org/resource...,{'genie': {'URI': 'http://dbpedia.org/resource...

In [9]:
ternas = pd.read_csv('data/triples_raw/bbc/dataset_triplet_bbc_new_simplificado.csv')

In [10]:
ternas.head()

,subject,relation,object,topic,old_index
0,role,is in,Yukos up China,5,0
1,role,lent,$ 6bn,5,1
2,role,lent,Russia,5,2
3,Oil,rebounds from,weather effect Oil prices recovered on Tuesday,1,3
4,Oil,rebounds after,falling in New York on milder winter weather a...,1,4

In [26]:
corpus_lda = joblib.load('data/lda_eval/amazon/df_topic.pkl')

In [30]:
print('Columns:', df.columns.tolist())

Columns: ['doc_id', 'category', 'target', 'text', 'original_categories', 'word_count', 'text_coref', 'text_clean', 'entidades', 'entidades_raw', 'entidades_dbpedia_simplificadas', 'entidades_dbpedia', 'cleaned', 'tokens', 'topic_dist', 'topic', 'tripletas']

In [29]:
corpus_lda.head(10).to_csv('volcado_df_topic.csv',sep=';')

In [1]:
import joblib
ternasarxiv = joblib.load('./data/triples_raw/reuters/reuters_semantic_tripletas_simplificado-contopic')

In [2]:
type(ternasarxiv.tripletas[0])

str

In [3]:
ternasarxiv.tail()

,doc_id,category,target,text,original_categories,word_count,text_coref,text_clean,entidades,entidades_raw,entidades_dbpedia_simplificadas,entidades_dbpedia,cleaned,tokens,topic_dist,topic,tripletas
2395,training/3087,Economics,1,BARCLAYS BANK SAID IT CUTTING BASE LENDING RAT...,interest,28,BARCLAYS BANK SAID IT CUTTING BASE LENDING RAT...,barclays bank said it cutting base lending rat...,"{'barclays bank', 'pct'}",{'barclays bank': {'URI': 'http://dbpedia.org/...,{'barclays bank': {'URI': 'http://dbpedia.org/...,{'barclays bank': {'URI': 'http://dbpedia.org/...,barclays bank said it cutting base lending rat...,"['barclays', 'bank', 'cut', 'base', 'lending',...","[(0, 0.9523869), (1, 0.011019284)]",0,[]
2396,training/3088,Economics,1,MIDLAND BANK SAID IT CUTTING ITS BASE RATE TO ...,interest,28,MIDLAND BANK SAID IT CUTTING ITS BASE RATE TO ...,midland bank said it cutting its base rate to ...,"{'pct', 'midland bank'}",{},{},{},midland bank said it cutting its base rate to ...,"['midland', 'bank', 'cut', 'base', 'rate', 'pc...","[(0, 0.94921905), (1, 0.011753138)]",0,[]
2397,training/3092,Economics,1,"BARCLAYS, MIDLAND FOLLOW NATWEST BASE RATE CUT...",interest,48,"BARCLAYS, MIDLAND FOLLOW NATWEST BASE RATE CUT...",barclays midland follow natwest base rate cut ...,"{'barclays bank plc &', 'barclays', 'midland\n...",{'barclays': {'URI': 'http://dbpedia.org/resou...,{'barclays': {'URI': 'http://dbpedia.org/resou...,{'barclays': {'URI': 'http://dbpedia.org/resou...,"barclays, midland follow natwest base rate cut...","['barclay', 'midland', 'follow', 'natwest', 'b...","[(0, 0.8065289), (3, 0.17185768)]",0,"[{'subject': 'MIDLAND', 'relation': 'FOLLOW', ..."
2398,training/3103,Economics,1,"BARCLAYS, MIDLAND FOLLOW NATWEST BASE RATE CUT...",interest,145,"BARCLAYS, MIDLAND FOLLOW NATWEST BASE RATE CUT...",barclays midland follow natwest base rate cut ...,"{'barclays bank plc &', 'barclays', 'annual', ...",{'barclays': {'URI': 'http://dbpedia.org/resou...,{'barclays': {'URI': 'http://dbpedia.org/resou...,{'barclays': {'URI': 'http://dbpedia.org/resou...,"barclays, midland follow natwest base rate cut...","['barclay', 'midland', 'follow', 'natwest', 'b...","[(0, 0.48794997), (3, 0.0910405), (7, 0.413863...",0,"[{'subject': 'MIDLAND', 'relation': 'FOLLOW', ..."
2399,training/3111,Economics,1,U.K. ISSUES ONE BILLION STG BOND TRANCHE The...,interest,494,U.K. ISSUES ONE BILLION STG BOND TRANCHE The...,uk issues one billion stg bond tranche the b...,"{'the bank of england', 'one billion', 'the na...",{'england': {'URI': 'http://dbpedia.org/resour...,{'england': {'URI': 'http://dbpedia.org/resour...,{'england': {'URI': 'http://dbpedia.org/resour...,u.k. issues one billion stg bond tranche the...,"['issue', 'billion', 'stg', 'bond', 'tranche',...","[(0, 0.359564), (1, 0.03815361), (7, 0.5998076)]",7,[]

In [11]:

def deserializar_tripletas(triplet_str):
    """Convierte string de tripletas a lista real"""
    if  pd.isna(triplet_str) or (isinstance (triplet_str,str) and (triplet_str=='' or triplet_str == '[]')):
        return []

    try:
        # Intentar eval (cuidado: solo usar con datos confiables)
        import ast
        return ast.literal_eval(triplet_str)
    except:
        try:
            # Alternativa con eval si ast falla
            return eval(triplet_str)
        except:
            print(f"ADVERTENCIA: No se pudo deserializar: {triplet_str[:100]}...")
            return []

In [12]:
import ast
import os
def create_triplets_csv(df, output_dir, csv_filename, include_topics=True):
    """
    Función auxiliar para crear CSV de tripletas
    """
    print(f"\nTransformando a dataframe de tripletas...")

    try:
        # Eliminar filas sin tripletas
        original_len = len(df)
        df['tripletas'] = df['tripletas'].apply(lambda x: x or [])
        df['tripletas'] = df['tripletas'].apply(
        lambda x: ast.literal_eval(x) if isinstance(x, str) else x
        )
        df['tripletas'] = df['tripletas'].apply(lambda x: x if (isinstance(x, list) or isinstance(x,dict)) else [])
        df_filtered = df[df['tripletas'].map(len) > 0].copy()
        filtered_len = len(df_filtered)
        print(f"Filas filtradas: {original_len} -> {filtered_len} ({original_len - filtered_len} sin tripletas)")

        if filtered_len == 0:
            print("ADVERTENCIA: No hay tripletas para procesar")
            return

        # Explotar tripletas

        #triplet_df_def = df_filtered.explode('tripletas')

        #triplet_df_def = triplet_df_def.reset_index()

        #df_filtered['tripletas'] = df_filtered['tripletas'].apply(deserializar_tripletas)

        triplet_df_def = df_filtered.explode('tripletas', ignore_index=True)

        # Filtrar posibles None resultantes de la explosión
        triplet_df_def = triplet_df_def[triplet_df_def['tripletas'].notna()]
        triplet_df_kge = pd.DataFrame(triplet_df_def['tripletas'].tolist(), index=triplet_df_def.index)

        # Añadir metadatos - buscar diferentes nombres de columna para tópicos
        topic_col_found = None
        if include_topics:
            for topic_col in ['topic', 'new_target', 'target']:
                if topic_col in triplet_df_def.columns:
                    triplet_df_kge['new_topic'] = triplet_df_def[topic_col]
                    topic_col_found = topic_col
                    break

        triplet_df_kge['old_index'] = triplet_df_def.index

        # Configurar nombres de columnas
        if include_topics and topic_col_found:
            triplet_df_kge.columns = ['subject', 'relation', 'object', 'new_topic', 'old_index']
        else:
            triplet_df_kge.columns = ['subject', 'relation', 'object', 'old_index']

        # Guardar CSV
        csv_path = os.path.join(output_dir, csv_filename)
        triplet_df_kge.to_csv(csv_path, index=False)

        print(f"Transformación completada!")
        print(f"Total de tripletas generadas: {len(triplet_df_kge)}")
        print(f"Archivo CSV guardado en: {csv_path}")

    except Exception as e:
        print(f"ERROR durante la transformación: {e}")
        traceback.print_exc()

In [13]:
create_triplets_csv(ternasarxiv,"./data/triples_raw/reuters/",'dataset_triplet_reuters_simplificado.csv' )

Transformando a dataframe de tripletas...
ERROR durante la transformación: boolean value of NA is ambiguous

NameError: name 'traceback' is not defined

In [16]:
import ast
import ast
lista = ast.literal_eval(ternasarxiv['tripletas'][0])

In [19]:
df = ternasarxiv
#df['tripletas'] = df['tripletas'].apply(lambda x: x or [])
df['tripletas'] = df['tripletas'].apply(
lambda x: ast.literal_eval(x) if isinstance(x, str) else x
)
df['tripletas'] = df['tripletas'].apply(lambda x: x if (isinstance(x, list) or isinstance(x,dict)) else [])
df_filtered = df[df['tripletas'].map(len) > 0].copy()

In [20]:
df_filtered.head()

,doc_id,category,target,text,original_categories,word_count,text_coref,text_clean,entidades,entidades_raw,entidades_dbpedia_simplificadas,entidades_dbpedia,cleaned,tokens,topic_dist,topic,tripletas
0,test/14826,Economics,1,ASIAN EXPORTERS FEAR DAMAGE FROM U.S.-JAPAN RI...,trade,713,ASIAN EXPORTERS FEAR DAMAGE FROM U.S.-JAPAN RI...,asian exporters fear damage from usjapan rift ...,"{'hong kong', ""yasuhiro nakasone's"", 'the firs...",{'asian': {'URI': 'http://dbpedia.org/resource...,{'asian': {'URI': 'http://dbpedia.org/resource...,{'asian': {'URI': 'http://dbpedia.org/resource...,asian exporters fear damage from u.s.-japan ri...,"['asian', 'exporter', 'fear', 'damage', 'rift'...","[(0, 0.029676186), (3, 0.10358327), (4, 0.8651...",4,"[{'subject': 'EXPORTERS', 'relation': 'is', 'o..."
1,test/14828,Markets,2,CHINA DAILY SAYS VERMIN EAT 7-12 PCT GRAIN STO...,grain,108,CHINA DAILY SAYS VERMIN EAT 7-12 PCT GRAIN STO...,china daily says vermin eat 712 pct grain stoc...,"{'2.1 mln tonnes', 'china daily', 'china', '1....",{},{},{},china daily says vermin eat 7-12 pct grain sto...,"['china', 'daily', 'vermin', 'eat', 'pct', 'gr...","[(0, 0.17488909), (2, 0.67814493), (4, 0.13644...",2,"[{'subject': 'vermin', 'relation': 'consume be..."
2,test/14829,Markets,2,JAPAN TO REVISE LONG-TERM ENERGY DEMAND DOWNWA...,"crude,nat-gas",173,JAPAN TO REVISE LONG-TERM ENERGY DEMAND DOWNWA...,japan to revise longterm energy demand downwar...,"{'japan', 'august', 'the fiscal year ended mar...",{'energy': {'URI': 'http://dbpedia.org/resourc...,{'energy': {'URI': 'http://dbpedia.org/resourc...,{'energy': {'URI': 'http://dbpedia.org/resourc...,japan to revise long-term energy demand downwa...,"['japan', 'revise', 'long', 'term', 'energy', ...","[(0, 0.33200243), (4, 0.30345663), (6, 0.26923...",0,"[{'subject': 'Ministry', 'relation': 'meet', '..."
3,test/14832,Markets,2,THAI TRADE DEFICIT WIDENS IN FIRST QUARTER T...,"corn,grain,rice,rubber,sugar,tin,trade",148,THAI TRADE DEFICIT WIDENS IN FIRST QUARTER T...,thai trade deficit widens in first quarter t...,"{'65.1 billion baht', 'the business economics ...",{'baht': {'URI': 'http://dbpedia.org/resource/...,{'baht': {'URI': 'http://dbpedia.org/resource/...,{'baht': {'URI': 'http://dbpedia.org/resource/...,thai trade deficit widens in first quarter t...,"['thai', 'trade', 'deficit', 'widen', 'quarter...","[(0, 0.7201096), (2, 0.24457584), (6, 0.028589...",0,"[{'subject': 'THAI TRADE DEFICIT', 'relation':..."
4,test/14839,Corporate_Industrial,0,AUSTRALIAN FOREIGN SHIP BAN ENDS BUT NSW PORTS...,ship,203,AUSTRALIAN FOREIGN SHIP BAN ENDS BUT NSW PORTS...,australian foreign ship ban ends but nsw ports...,"{'nsw', 'yesterday', 'today', 'nsw ports', 'th...",{'tug': {'URI': 'http://dbpedia.org/resource/T...,{'tug': {'URI': 'http://dbpedia.org/resource/T...,{'tug': {'URI': 'http://dbpedia.org/resource/T...,australian foreign ship ban ends but nsw ports...,"['australian', 'foreign', 'ship', 'ban', 'end'...","[(4, 0.5501377), (6, 0.4396743)]",4,"[{'subject': 'Tug crews', 'relation': 'is in',..."

In [22]:
import pandas as pd
create_triplets_csv(df_filtered,"./data/triples_raw/reuters/",'dataset_triplet_reuters_simplificado.csv' )

Transformando a dataframe de tripletas...
Filas filtradas: 1527 -> 1527 (0 sin tripletas)
Transformación completada!
Total de tripletas generadas: 9486
Archivo CSV guardado en: ./data/triples_raw/reuters/dataset_triplet_reuters_simplificado.csv

In [23]:
ternas = pd.read_csv("./data/triples_raw/reuters/dataset_triplet_reuters_simplificado.csv")

In [24]:
ternas.new_topic.unique()

array([4, 2, 0, 1, 3, 7, 5, 6])