In [2]:
import joblib
df_topic = joblib.load('data/lda_eval/bbc/df_topic.pkl')

In [3]:
df_topic

,news,type,text_coref,text_clean,entidades,entidades_raw,entidades_dbpedia_simplificadas,entidades_dbpedia,cleaned,tokens,topic_dist,topic
0,China had role in Yukos split-up\n \n China le...,business,China had role in Yukos split-up\n \n China le...,china had role in yukos splitup\n \n china len...,"{aton, yuganskneftegas, chinese, yugansk, five...",{'yukos': {'URI': 'http://dbpedia.org/resource...,{'yukos': {'URI': 'http://dbpedia.org/resource...,{'yukos': {'URI': 'http://dbpedia.org/resource...,china had role in yukos split-up\n \n china le...,"[china, role, yukos, split, china, lend, russi...","[(4, 0.062216416), (5, 0.17698236), (7, 0.0292...",10
1,Oil rebounds from weather effect\n \n Oil pric...,business,Oil rebounds from weather effect\n \n Oil pric...,oil rebounds from weather effect\n \n oil pric...,"{42.12, last week, sg securities, late october...",{'asian': {'URI': 'http://dbpedia.org/resource...,{'asian': {'URI': 'http://dbpedia.org/resource...,{'asian': {'URI': 'http://dbpedia.org/resource...,oil rebounds from weather effect\n \n oil pric...,"[oil, rebound, weather, effect, oil, price, re...","[(1, 0.29322398), (3, 0.23712853), (4, 0.04037...",1
2,Indonesia 'declines debt freeze'\n \n Indonesi...,business,Indonesia 'declines debt freeze'\n \n Indonesi...,indonesia declines debt freeze\n \n indonesia ...,"{26 december, 1.7bn, the paris club, 1.2bn, ab...",{'aceh province': {'URI': 'http://dbpedia.org/...,{'aceh province': {'URI': 'http://dbpedia.org/...,{'aceh province': {'URI': 'http://dbpedia.org/...,indonesia 'declines debt freeze'\n \n indonesi...,"[indonesia, decline, debt, freeze, indonesia, ...","[(1, 0.038597398), (2, 0.42824557), (7, 0.2790...",2
3,$1m payoff for former Shell boss\n \n Shell is...,business,$1m payoff for former Shell boss\n \n Shell is...,$1m payoff for former shell boss\n \n shell is...,"{2003, ms boynton, jeroen van der veer, van de...",{},{},{},$1m payoff for former shell boss\n \n shell is...,"[payoff, shell, boss, shell, pay, ex, finance,...","[(0, 0.089035876), (1, 0.09903772), (4, 0.0961...",10
4,US bank in $515m SEC settlement\n \n Five Bank...,business,US bank in $515m SEC settlement\n \n Five Bank...,us bank in $515m sec settlement\n \n five bank...,"{bbc, the last two years, fleetboston, the us ...",{'mutual fund': {'URI': 'http://dbpedia.org/re...,{'mutual fund': {'URI': 'http://dbpedia.org/re...,{'mutual fund': {'URI': 'http://dbpedia.org/re...,us bank in $515m sec settlement\n \n five bank...,"[bank, sec, settlement, bank, america, subsidi...","[(1, 0.054907095), (3, 0.24392441), (4, 0.2211...",10
...,...,...,...,...,...,...,...,...,...,...,...,...
2220,Microsoft launches its own search\n \n Microso...,tech,Microsoft launches its own search\n \n Microso...,microsoft launches its own search\n \n microso...,"{april 2003, november 2003, amazon, google, to...",{'search engine': {'URI': 'http://dbpedia.org/...,{'search engine': {'URI': 'http://dbpedia.org/...,{'search engine': {'URI': 'http://dbpedia.org/...,microsoft launches its own search\n \n microso...,"[microsoft, launch, search, microsoft, unveil,...","[(5, 0.022339918), (7, 0.084076226), (10, 0.10...",12
2221,Warnings about junk mail deluge\n \n The amoun...,tech,Warnings about junk mail deluge\n \n The amoun...,warnings about junk mail deluge\n \n the amoun...,"{steve linford, ciphertrust, symantec, uk, two...",{'virus': {'URI': 'http://dbpedia.org/resource...,{'virus': {'URI': 'http://dbpedia.org/resource...,{'virus': {'URI': 'http://dbpedia.org/resource...,warnings about junk mail deluge\n \n the amoun...,"[warning, junk, mail, deluge, spam, circulate,...","[(4, 0.7830607), (5, 0.039519634), (7, 0.17379...",4
2222,Microsoft gets the blogging bug\n \n Software ...,tech,Microsoft gets the blogging bug\n \n Software ...,microsoft gets the blogging bug\n \n software ...,"{msn spaces, technorati, aol, google, hotmail,...",{},{},{},microsoft gets the blogging bug\n \n software ...,"[microsoft, blogging, bug, software, giant, mi...","[(5, 0.112754904), (12, 0.87988627)]",12
2223,Gamers snap up new Sony PSP\n \n Gamers have b...,tech,Gamers snap up new Sony PSP\n \n Gamers have b...,gamers snap up new sony psp\n \n gamers have b...,"{playstation portable, us, psp, europe, earlie...",{'sony': {'URI': 'http://dbpedia.org/resource/...,{'sony': {'URI': 'http://dbpedia.org/resource/...,{'sony': {'URI': 'http://dbpedia.org/resource/...,gamers snap up new sony psp\n \n gamers have b...,"[gamer, snap, new, sony, psp, gamer, buy, batc...","[(0, 0.753839), (5, 0.09003283), (10, 0.147580...",0
2224,Apple laptop is 'greatest gadget'\n \n The App...,tech,Apple laptop is 'greatest gadget'\n \n The App...,apple laptop is greatest gadget\n \n the apple...,"{startac, three weeks, swiss, 1761, psion orga...",{'apple': {'URI': 'http://dbpedia.org/resource...,{'apple': {'URI': 'http://dbpedia.org/resource...,{'apple': {'URI': 'http://dbpedia.org/resource...,apple laptop is 'greatest gadget'\n \n the app...,"[apple, laptop, great, gadget, apple, powerboo...","[(0, 0.5252897), (5, 0.47210288)]",0

In [ ]:
df_topic[['text_coref']]

In [30]:
import joblib
df2 = joblib.load('data/processed/amazon/amazon_processed_semantic.pkl')

In [33]:
df2.groupby('target').count()

,text,text_coref,text_clean,entidades,entidades_raw,entidades_dbpedia_simplificadas,entidades_dbpedia
target,,,,,,,
0,1500,1500,1500,1500,1500,1500,1500
1,1500,1500,1500,1500,1500,1500,1500

In [ ]:
df3 = joblib.load('data/corpus_raw/bbc/bbc_processed_final_semantic_2.pkl')

In [ ]:
df3.head()

In [ ]:
df3.tail()

In [ ]:
from stanza.server import CoreNLPClient

client = CoreNLPClient(
            annotators=['openie'],
            endpoint='http://localhost:9000',
            start_server=True,
            be_quiet=True
        )

In [ ]:
df = joblib.load('data/triples_raw/bbc/bbc_semantic_tripletas_simplificado-contopic')

In [ ]:
df.tail()

In [ ]:
dfold = joblib.load('data/triples_ft/processed/dataset_final_triplet_bbc_pykeen')

In [ ]:
dfold

In [ ]:
type(df_filtered['tripletas'][0])

In [ ]:
type(eval(df_filtered['tripletas'][0]))

In [ ]:
len(df_filtered)

In [ ]:
dfantiguo1 = joblib.load('data/triples_ft/processed/dataset_final_triplet_bbc_pykeen')

In [ ]:
dfantiguo1

In [ ]:
import pandas as pd

In [ ]:
dfantiguocsv = pd.read_csv('data/triples_raw/bbc/dataset_triplet_bbc_new_simplificado.csv')

In [ ]:
set(dfantiguocsv.new_topic)

In [ ]:
dfantiguo1 = joblib.load('data/triples_ft/processed/dataset_final_triplet_bbc_pykeen')

In [42]:
dfnuevo = joblib.load('data/lda_eval/bbc/df_topic.pkl')

In [43]:
set(dfnuevo.topic)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [44]:
dfnuevo.topic_dist

0       [(4, 0.062216416), (5, 0.17698236), (7, 0.0292...
1       [(1, 0.29322398), (3, 0.23712853), (4, 0.04037...
2       [(1, 0.038597398), (2, 0.42824557), (7, 0.2790...
3       [(0, 0.089035876), (1, 0.09903772), (4, 0.0961...
4       [(1, 0.054907095), (3, 0.24392441), (4, 0.2211...
                              ...
2220    [(5, 0.022339918), (7, 0.084076226), (10, 0.10...
2221    [(4, 0.7830607), (5, 0.039519634), (7, 0.17379...
2222                 [(5, 0.112754904), (12, 0.87988627)]
2223    [(0, 0.753839), (5, 0.09003283), (10, 0.147580...
2224                    [(0, 0.5252897), (5, 0.47210288)]
Name: topic_dist, Length: 2225, dtype: object

In [ ]:
import pandas as pd
df2 = pd.read_csv('data/lda_eval/bbc7/lda_coherence_grid.csv')

In [ ]:
df2

In [1]:
df23 = joblib.load('data/lda_Eval/bbc7/top_terms_by_topic.pkl')

NameError: name 'joblib' is not defined

In [40]:
# Alpha parameter
import numpy as np
alpha = list(np.arange(0.01, 1, 0.))
alpha.append('symmetric')
alpha.append('asymmetric')
# Beta parameter
beta = list(np.arange(0.01, 1, 0.15))
beta.append('symmetric')

In [41]:
alpha

[0.01,
 0.11,
 0.21000000000000002,
 0.31000000000000005,
 0.41000000000000003,
 0.51,
 0.6100000000000001,
 0.7100000000000001,
 0.81,
 0.91,
 'symmetric',
 'asymmetric']

In [21]:
import pandas as pd
grid = pd.read_csv('data/lda_eval/bbcopcion2/lda_coherence_grid.csv')

In [17]:
grid.head()

   num_topics alpha                   eta  coherence
0           2  0.01                  0.01   0.410960
1           2  0.01  0.060000000000000005   0.398149
2           2  0.01                  0.11   0.512910
3           2  0.01   0.16000000000000003   0.499392
4           2  0.01   0.21000000000000002   0.525837

In [22]:
grid.loc[grid.coherence>=0.55]

      num_topics                 alpha                 eta  coherence
475            3                  0.01                0.66   0.555497
497            3  0.060000000000000005  0.7100000000000001   0.552956
584            3                  0.26  0.8600000000000001   0.551652
900            3             symmetric                0.91   0.553815
935            4                  0.01                0.56   0.554548
...          ...                   ...                 ...        ...
2741           7             symmetric                0.56   0.554084
2742           7             symmetric  0.6100000000000001   0.559076
2745           7             symmetric                0.76   0.552768
2749           7             symmetric  0.9600000000000001   0.551306
2770           7            asymmetric  0.9600000000000001   0.552256

[110 rows x 4 columns]

In [19]:
import pandas as pd
grid2 = pd.read_csv('data/lda_eval/bbc/lda_coherence_grid.csv')

In [25]:
grid2.loc[grid2.coherence>=0.56]

     num_topics               alpha                 eta  coherence
117           4                0.16  0.6100000000000001   0.569062
141           4                0.76  0.6100000000000001   0.563618
147           4  0.9099999999999999  0.6100000000000001   0.563873
148           4  0.9099999999999999                0.81   0.562237
159           4          asymmetric  0.6100000000000001   0.565433
640          13           symmetric                0.81   0.590596
652          14                0.01                0.81   0.571443
699          14          asymmetric  0.6100000000000001   0.562266
712          15                0.16                0.81   0.580564

In [27]:
amazon = pd.read_csv('data/corpus_raw/amazon/amazon_corpus_raw.csv', sep= ';')

In [28]:
amazon

                                                     text  target
82359   I bought this to remove tartar off my cats'tee...       0
51828   We have two of these now, indoors only.They al...       0
17743   Easy to assemble, good size for my 1.5 inch Ro...       0
112950  This does take off a ton of fur.  My German Sh...       0
143740  I'm so pleased with the Litter Genie.  It does...       0
...                                                   ...     ...
94349   this was a great book as  thoroughly enjoyed  ...       1
240844  This is a very well written book and the resea...       1
404089  Well done and very educational. Few have actua...       1
5363    The book was interesting...but like book 4 the...       1
338514  This book is interesting. But I can honestly s...       1

[3000 rows x 2 columns]

In [29]:
amazon[12]

KeyError: 12

In [2]:
import joblib
dbpedia = joblib.load('data/corpus_ft/bbc/diccionario_topic_entidades_dbpedia')

In [ ]:
dbpedia[2]

In [5]:
dbsemantic = joblib.load('data/processed/amazon/amazon_processed_semantic.pkl')

In [7]:
dbsemantic.iloc[0,4]

{'a week to 10 days',
 'brown kitty',
 'grey kitty',
 'one eighth teaspoon',
 'remover.(so',
 'until'}

In [16]:
dbsemantic.iloc[0,4]

{'a week to 10 days',
 'brown kitty',
 'grey kitty',
 'one eighth teaspoon',
 'remover.(so',
 'until'}

In [23]:
dbsemantic = joblib.load('data/lda_eval/amazon/top_terms_by_topic.pkl')

In [25]:
dbsemantic

{0: ['dog',
  'cat',
  'buy',
  'love',
  'food',
  'good',
  'use',
  'like',
  'work',
  'great',
  'time',
  'try',
  'product',
  'small',
  'little',
  'day',
  'eat',
  'treat',
  'toy',
  'water',
  'think',
  'easy',
  'big',
  'look',
  'come',
  'recommend',
  'need',
  'quality',
  'month',
  'old'],
 1: ['book',
  'read',
  'story',
  'love',
  'character',
  'good',
  'find',
  'time',
  'life',
  'think',
  'know',
  'write',
  'way',
  'novel',
  'author',
  'great',
  'world',
  'want',
  'thing',
  'end',
  'people',
  'feel',
  'work',
  'year',
  'come',
  'series',
  'new',
  'man',
  'reader',
  'like']}